<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-3">
    <h3>Create a New Game:</h3>

    <form class="form new-game-form">
      <div class="form-group">
        <label for="game-name">Name of Game:</label>
        <input class="form-input" type="text" id="game-name" name="game-name" />
      </div>
      <div class="form-group">
        <label for="game-cost">Cost of the Game ($):</label>
        <input class="form-input" type="number" id="game-cost" name="game-cost"></input>
      </div>
      <div class="form-group">
        <label for="game-manufacturer">Manufacturer of Game:</label>
        <input class="form-input" type="text" id="game-manufacturer" name="game-manufacturer" />
      </div>
      <div class="form-group">
        <label for="game-type_of_cabinet">Cabinet Type of Game:</label>
        <input class="form-input" type="text" id="game-type_of_cabinet" name="game-type_of_cabinet" />
      </div>
      <div class="form-group">
        <label for="game-has_tickets">Check Box if Game have Tickets:</label>
        <input class="form-input" type="checkbox" id="game-has_tickets" name="game-has_tickets" value="tickets" />
      </div>
      <div class="form-group">
        <label for="game-has_prizes">Check Box if Game have Prizes:</label>
        <input class="form-input" type="checkbox" id="game-has_prizes" name="game-has_prizes" value="prizes" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <h3>Create a New Location:</h3>

    <form class="form new-location-form">
      <div class="form-group">
        <label for="location-name">location name:</label>
        <input class="form-input" type="text" id="location-name" name="location-name" />
      </div>
      <div class="form-group">
        <label for="location-address">location address:</label>
        <input class="form-input" type="text" id="location-address" name="location-address" />
      </div>
      <div class="form-group">
        <label for="location-phone_number">location phone_number:</label>
        <input class="form-input" type="text" id="location-phone_number" name="location-phone_number" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <h3>pieChart</h3>
    <canvas id="pieChart"></canvas>
  </div>
  <div>
    <button id="export">Export File</button>
  </div>
</div>
<script src="./js/excel.js"></script>
<script src="./js/create.js"></script>

