<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-3">
    <h3>Create a New Game:</h3>

    <form class="form new-game-form">
      <div class="form-group">
        <label for="game-name">game name:</label>
        <input class="form-input" type="text" id="game-name" name="game-name" />
      </div>
      <div class="form-group">
        <label for="game-location">game location:</label>
        <input class="form-input" type="text" id="game-location" name="game-location" />
      </div>
      <div class="form-group">
        <label for="game-price">price of the game ($):</label>
        <input class="form-input" type="number" id="game-price" name="game-price"></input>
      </div>
      <div class="form-group">
        <label for="game-desc">description:</label>
        <textarea class="form-input" type="text" id="game-desc" name="game-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <h3>Create a New Location:</h3>

    <form class="form new-location-form">
      <div class="form-group">
        <label for="location-name">location name:</label>
        <input class="form-input" type="text" id="location-name" name="location-name" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <h3>Pie Chart</h3>
    <canvas id="pieChart"></canvas>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js", "./js/pieChart.js"></script>
